<div class="background">
    <block-article-title>
        <div class="white">
            2023 PALARONG PANLALAWIGAN
        </div>
        
        <ui-icon [iconSrc]="'./assets/icon/calendar.svg'">
        </ui-icon>
        <ui-text>
        <div class="white"> February 28, 2023 </div>
        </ui-text>

        
    </block-article-title>
</div>



<ui-block>
    <ui-image [imageSrc]="'./assets/articles/article_palaro.jpg'">

    </ui-image>
</ui-block>



<block-text-no-split>
    <ui-text>
        Masayang binuksan ni Gob. Nina Ricci Ynares ang 2023 Palarong Panlalawigan sa Rizal sa Rizal National Science Highschool sa Binangonan, na may temang “Rizalenyo Sports: Bringing back the Fire of the True Champions”. Pagkatapos malagpasan ang pandemya ay muling aarangkada ang pinakamalaking sports spectacle sa lalawigan kung saan magtatagisan ng galing, lakas at talino ang iba’t ibang athletes mula sa lalawigan. Nanawagan si Gob. Ynares na pairalin ang sportsmanship, perseverance at camaraderie para sa matagumpay na pagsasagawa ng Palarong Panlalawigan!
        <br/>
        <br/>
        #TaasNooRizalenyo
    </ui-text>
</block-text-no-split>