.block-wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

.block-column-item {
    grid-column: col-start var(--col-start) / var(--col-end);
}

.block-column-item-optional {
    grid-column: col-start var(--col-start-opt) / var(--col-end-opt);
}