.carousel-content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 48px 1fr 48px;
    width:100%;
}


.no-display {
    display: none;
}

.active {
    display: grid;
}

.center-text {
  text-align: center;
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }