<block-banner [backgroundImgSrc]="'./assets/banner/Blue_Rizal_Capitol.png'">
  <ui-heading>
    <div class="welcome">The Official Website of the Rizal Provincial Government</div>
  </ui-heading>
  <ui-heading [headingSize]="HeadingSize.HEADING_SIX"><div class="sub-welcome">Local Government Services at your hands!</div></ui-heading>

  <ui-button (click)= "scroll('services')">
        Check Services
  </ui-button>
  <ui-container table-of-contents class="hide">
    <ul class="table-of-contents">
      <li>
        <a (click)= "scroll('news')" class="toc-list">
          Latest News
        </a>
      </li>
      <li>
        <a (click)= "scroll('services')" class="toc-list">
        Services
        </a>
      </li>
    </ul>
  </ui-container>
</block-banner>

<block-article id="news">
  <ui-container *ngFor="let article of articleContent">
    <element-card
      [imageSrc]="'./assets/square.jpg'"
      [articleText]="article.blurb + '...'"
      [titleText]="article.title"
      [articleLink]="article.link"
    >
    </element-card>
  </ui-container>
</block-article>

<block-service-list id="services">

</block-service-list>

<block-officials-multiple>

</block-officials-multiple>
