@use 'src/styles.scss' as *;
*{
  scroll-behavior: smooth !important;
  }

.welcome{
  // padding-top: 2em;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25em;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: $white;
  padding-top: 1em;
  @include responsive($breakpoint-m){
    padding-top: .5em;
    line-height: 1em;
    font-size: 40px;
  }
  @include responsive($breakpoint-l){
    padding-top: 1em;
    line-height: 1em;
  }
  @include responsive($breakpoint-xl){
    padding-top: .3em;
    font-size: 40px;
    line-height: 1em;
  }
  @include responsive($breakpoint-xxl){
    font-size: 50px;
    line-height: 1.25em;
  }
}


.sub-welcome{
  padding-top: 7em;
  padding-bottom: 0.5em;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 2em;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: $white;
  display: none;
  @include responsive($breakpoint-l){
    display: flex;
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 18px;
    line-height: 1em;
  }
}

.button-services{
  display: none;
  @include responsive($breakpoint-l){
    display: inline;
  }
}

.table-of-contents{
  list-style: none;
}
.table-of-contents li .toc-list{
  color: $white;
}

.table-of-contents li .toc-list:hover{
  color: $dark-blue;
  cursor: pointer;
}

.read-more-link{
  border: 2px $dark-blue solid;
  width: fit-content;
  padding: .2em 1em;
}

.read-more-link:hover{
  border: 2px $orange solid;
}
