<block-header  >
</block-header>

<block-navbar>

</block-navbar>
<block-banner [backgroundImgSrc]="'./assets/banner/Blue_Rizal_Capitol.png'">
  <ui-heading >
    <div class="welcome">Welcome to the Official Website of the Province of Rizal!</div>
  </ui-heading>
  <ui-button>
    Check Services
  </ui-button>
  <ui-container table-of-contents >
    <ul class="table-of-contents">
      <li>
        <ui-link [url]="'#news'">
          Latest News
        </ui-link>
      </li>
      <li>
        <ui-link [url]="'#services'">
        Services
        </ui-link>
      </li>
    </ul>
  </ui-container>
</block-banner>

<block-text [splitType]="SplitColumnsPosition.LEFT">
  <ui-heading [headingSize]="HeadingSize.HEADING_FOUR">
    Using Text Block
  </ui-heading>
  <ui-text>
    The text block automatically puts in a header when a ui-header element is detected.
    Text is automatically put in the larger container when the split option is used.
    For putting content in the smaller container, add the words "left" or "right" on the element;
    for example, &lt;ui-container left&gt; when the split option is left will make the block place the container on the left,
    but if the split option is on the right, the ui-container will not render.
  </ui-text>

  <ui-container left>
    <element-table-of-contents>
        <ul>
          <li>
            <ui-link [url]="'#block2'">
              Section A
            </ui-link>
          </li>
          <li>
            <ui-link [url]="'#block2'">
            Section B
            </ui-link>
          </li>
        </ul>
    </element-table-of-contents>
  </ui-container>
</block-text>


<block-article id="news">

</block-article>

<block-service-list id="services">

</block-service-list>

<block-officials-multiple>

</block-officials-multiple>

<block-footer [imageSrc]="'./assets/logo/rizal_province_seal.png'">

</block-footer>
