<block-banner [backgroundImgSrc]="'./assets/banner/Blue_Rizal_Capitol.png'">
  <ui-heading>
    <div class="welcome">The Official Website of the Rizal Provincial Government</div>
  </ui-heading>
  <ui-heading [headingSize]="HeadingSize.HEADING_SIX"><div class="sub-welcome">Local Government Services at your hands!</div></ui-heading>

  <ui-button (click)= "scroll('services')">
        Check Services
  </ui-button>
  <ui-container table-of-contents class="hide">
    <ul class="table-of-contents">
      <li>
        <a (click)= "scroll('services')" class="toc-list">
          Latest News
        </a>
      </li>
      <li>
        <a (click)= "scroll('awards')" class="toc-list">
          Rizal Provice Awards
        </a>
      </li>
    </ul>
  </ui-container>
</block-banner>

<block-service-list id="services">
</block-service-list>

<block-article id="news">
  <ui-container>
    <ui-image [imageSrc]="articleContent[0].img" style="width:60%">
    </ui-image>
    <ui-container [paddingTop]="PaddingSize.SMALL">
      <ui-heading [headingSize]="HeadingSize.HEADING_FOUR">
        Covid Update In Rizal Province
      </ui-heading>
      <ui-text>
        {{ articleContent[0].blurb }}
      </ui-text>
    </ui-container>
    
    <ui-container [paddingTop]="PaddingSize.XXSMALL">
      <ui-text>
        <ui-link [url]="articleContent[0].link">
          Read More
        </ui-link>
      </ui-text>
    </ui-container>
    <hr>
    



  </ui-container>
  <ui-container>
    <ui-container *ngFor="let article of articleContent | slice: 1" style="width:100%">
      <ui-heading [headingSize]="HeadingSize.HEADING_FIVE">
        {{ article.title }}
      </ui-heading>
      <ui-text>
        {{ article.blurb }}...
      </ui-text>
      <ui-container [paddingTop]="PaddingSize.XSMALL">
        <ui-text>
          <ui-link [url]="article.link">
            Read More
          </ui-link>
        </ui-text>
      </ui-container>

  
      <hr>
    </ui-container>
  </ui-container>
</block-article>

<block-awards id="awards">
</block-awards>
