@use 'src/styles.scss' as *;
*{
  scroll-behavior: smooth !important;
  }

.welcome{
  // padding-top: 2em;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25em;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: white;
  padding-top: 3em;
  @include responsive($breakpoint-m){
    font-size: 28px;
    line-height: 1em;
  }
  @include responsive($breakpoint-l){
    padding-top: 2em;
    font-size: 35px;
    line-height: 1em;
  }
  @include responsive($breakpoint-xl){
    padding-top: 0;
    font-size: 40px;
    line-height: 1em;
  }
  @include responsive($breakpoint-xxl){
    font-size: 50px;
    line-height: 1.25em;
  }
}

.sub-welcome{
  padding-top: 7em;
  padding-bottom: 0.5em;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 2em;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: white;
  display: none;
  @include responsive($breakpoint-m){
    display: flex;
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 15px;
    line-height: 1em;
  }
}

.table-of-contents{
  list-style: none;
}
.table-of-contents li .toc-list:hover{
  color: white;
  cursor: pointer;
}

