@use 'src/styles.scss' as *;

.background {
    padding-top: 2em;
    background-color: $light-orange;
}

.welcome{
    // padding-top: 2em;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: $black;
    @include responsive($breakpoint-m){
      font-size: 20px;
      line-height: 1em;
    }
    @include responsive($breakpoint-l){
      font-size: 35px;
      line-height: 1em;
    }
    @include responsive($breakpoint-xl){
      font-size: 40px;
      line-height: 1em;
    }
    @include responsive($breakpoint-xxl){
      font-size: 50px;
      line-height: 1.25em;
    }
  }

.sub-welcome{
    padding-top: 2em;
    padding-bottom: 1em;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 2em;
    display: flex;
    align-items: center;
    color: $black;
  }

  .table-of-contents li .toc-list:hover{
    color: $white;
    cursor: pointer;
  }

  .read-more-link{
    border: 2px $light-orange solid;
    width: fit-content;
    padding: .2em 1em;
  }

  .read-more-link:hover{
    border: 2px $light-blue solid;
  }
