@use 'src/styles.scss' as *;

.card-border {
    border-radius: .5em;
    padding: .5em .5em 1.5em .5em;
    text-align: center;
    height: 18em;
    width: 14em;
    margin: auto;
}
.center-icon {
  height: 12em;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 1em;
}

.optional-sub-text{
  font-size: small;
}

.card-border:active{
  background-color: $orange;
  color: white;
  .center-icon {
    filter: brightness(0) invert(1);
  }
}

