@use 'src/styles.scss' as *;

button{
  margin: 2em 0em 2em 0em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 1em;
  font-family: 'Inter', sans-serif;
  height: fit-content;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  background-color: $orange;
  border: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  @include responsive($breakpoint-l){
    padding: 0.5em 1.5em 0.5em 1.5em;
    height: fit-content;
    font-size: 20px;
  }
}

button:hover{
  color: $dark-blue;
}

button:active{
  background-color: white;
  color: $dark-blue;
}
