@use 'src/styles.scss' as *;

.columns-autofit-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 1rem;
}

.columns-wrapper > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }