@use 'src/styles.scss' as *;

.card-border {
    border: 3px black solid;
    padding: 7vw 3vw;
    text-align: center;
    height: 20vw;
    width: 20vw;
    @include responsive($breakpoint-s){
      width: 27vw;
      height: 15vw;
      padding: 5vw 2vw;
    }
    @include responsive($breakpoint-m){
      width: 17vw;
      height: 10vw;
    }
    @include responsive($breakpoint-l){
      width: 13vw;
      height: 10vw;
      padding: 30px 10px 30px 10px;
    }
    @include responsive($breakpoint-xxl){
      width: 13vw;
      height: 7vw;
    }
}
.center-icon {
    width: max-content;
    margin: auto;
    padding-bottom: 5px;
}

.card-border:hover{
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.card-border:active, .card-border:hover{
  background-color: $orange;
  color: white;
  .center-icon {
    filter: brightness(0) invert(1);
  }
  cursor: pointer;
}

