@use 'src/styles.scss' as *;

.background {
    background-image: url('./assets/banner/Blue_Rizal_Capitol.png');
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    color: $white;
}

ui-icon {
    position: relative;
    top:1.5px;
    filter: invert(1);
}