@use 'src/styles.scss' as *;

.center-container {
  display: grid;
  align-content: center;
  background-color: $dark-blue;
  padding: 0.5em 0em 0.5em 0em;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: $white;
  display: flex;
  text-align:center;
  width: 100%;

}

.white{
  filter: invert(1);
  position: relative;
  top: 2px
}

.socmed-container{
  width: 100%;
  display: none;
  font-size: small;
  @include responsive($breakpoint-m){
    margin: 0 8em 0 2em;
    display: inline-block;
  }

}

.time-container{
  width: 100%;
  font-size: small;
  @include responsive($breakpoint-m){
    margin: 0 1em 0 12em;
  }
  @include responsive($breakpoint-l){
    margin: 0 1em 0 1em;
  }
}

.hotline-container{
  margin: 0 auto;
  width: 100%;
  font-size: small;
  display: none;
  @include responsive($breakpoint-m){
    margin: 0 2em 0 16em;
  }
  @include responsive($breakpoint-l){
    display: inline-block;
  }
}

