<ui-container [paddingTop]="PaddingSize.LARGE">
</ui-container>

<div class="background">
  <block-article-title>
      <div class="white">
          COVID UPDATE IN RIZAL PROVINCE 
      </div>
      
      
      <ui-text>
      <div class="white"><ui-icon [iconSrc]="'./assets/icon/calendar.svg'">
      </ui-icon> July 31, 2022 </div>
      
      </ui-text>

      
  </block-article-title>
</div>
<ui-block>
    <ui-image [imageSrc]="'./assets/articles/article_covid.jpg'">
    </ui-image>
</ui-block>


<block-text [splitType]="SplitColumnsPosition.RIGHT">
    <ui-heading [headingSize]="HeadingSize.HEADING_THREE">
      COVID UPDATE IN RIZAL PROVINCE
    </ui-heading>
    <ui-text>
        #RizalAgainstCOVID19
        <br/>
        #StayAtHomeRizaleños
        <br/>
        Para protektado ka laban sa COVID-19, mahalagang magsuot ng face mask kapag lalabas!
        <br/>
        Sama-sama nating labanan ang COVID-19!
    </ui-text>
  </block-text>