<ui-container [paddingTop]="PaddingSize.XLARGE">

</ui-container>

<ui-block>
    <ui-image [imageSrc]="'./assets/articles/article_covid.jpg'">
    </ui-image>
</ui-block>


<block-text [splitType]="SplitColumnsPosition.RIGHT">
    <ui-heading [headingSize]="HeadingSize.HEADING_THREE">
      COVID UPDATE IN RIZAL PROVINCE
    </ui-heading>
    <ui-text>
        #RizalAgainstCOVID19
        <br/>
        #StayAtHomeRizaleños
        <br/>
        Para protektado ka laban sa COVID-19, mahalagang magsuot ng face mask kapag lalabas!
        <br/>
        Sama-sama nating labanan ang COVID-19!
    </ui-text>
  </block-text>