/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

// Media Breakpoints

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1500px;

// Responsible for column creation
@mixin columns($count, $width) {
    -webkit-column-count: $count;
       -moz-column-count: $count;
            column-count: $count;

    -webkit-column-width: $width;
       -moz-column-width: $width;
            column-width: $width;
}

// Responsible for handling multiple screen sizes
@mixin responsive($breakpoint) {
    @media ( min-width: $breakpoint ) {
        @content;
    }
}

// global style, should probably fix to be localized to a ui-list component
li {
    line-height: 2;
}
