<block-text > <ui-heading> History of the Province </ui-heading> </block-text>
<block-text-no-split [headingHr]="true">
    <ui-heading [headingSize]="HeadingSize.HEADING_FOUR">Colonial Era</ui-heading> 
    <ui-text>
        Before Rizal became a province, its area used to be the provinces of Tondo and La Laguna during the Spanish era. However, some of its towns like Pasig, now the Provincial Capital, Parañaque, Taytay and Cainta, were already thriving Tagalog communities engaged on trade with the Chinese and our other Asian neighbors long before the Spaniards set foot on the islands in 1521.
        <br/>
        <br/>
        A succession of religious orders like the Franciscans, the Augustinians, the Jesuits, and the Recollects had taken jurisdiction over this wide swath of bustling communities prior to the birth of Rizal Province.
        <br/>
        <br/>
        In 1853, the towns of Morong, Pililla, Tanay, Baras, Binangonan, Jalajala, Angono, Antipolo, Boso-Boso, Cainta, and Taytay, were weaned from the province of Tondo and were named Distrito Politoco-Militar de los Montes de San Mateo.
        <br/>
        <br/>
        Four years later, it was changed to Distrito-Militar de Morong, to avoid confusion resulting from the erroneous impression that San Mateo was the district's capital instead of Morong. This development was considered as a prelude to the formation of the province of Rizal.In 1860, the province of Tondo became the province of Manila, and all its towns were placed under the control of the governor of Manila.
    </ui-text>
</block-text-no-split>

<block-text-no-split [headingHr]="true">
    <ui-heading [headingSize]="HeadingSize.HEADING_FOUR">The Birth of the Province</ui-heading> 
    <ui-text>
        After the Filipino-American conflicts in 1900, the new colonial rulers initiated a discussion on whether to unite the province of Manila with Morong province. On June 5, 1901, 221 delegates attended the historic meeting at the Pasig Catholic Church to discuss organization of the province of Manila and Morong.
        <br/>
        <br/>
        In that meeting, Dr. Trinidad H. Pardo de Tavera of the Federal Party who accompanied the American members of the Commission, suggessted the unification of both Manila and Morong into one province to be named "Rizal", in honor of our national hero, Dr. Jose P. Rizal.
        <br/>
        <br/>
        In that meeting, Dr. Trinidad H. Pardo de Tavera of the Federal Party who accompanied the American members of the Commission, suggessted the unification of both Manila and Morong into one province to be named "Rizal", in honor of our national hero, Dr. Jose P. Rizal.
        <br/>
        <br/>
        Over the years, the territory of Rizal Province would evolve until it comprised 26 towns (excluding the cities of Caloocan, Quezon and Pasay) namely Las Piñas, Malabon, Makati, Parañaque, Taguig, Pateros, Pasig, Marikina, Muntinlupa, Mandaluyong, Navotas, San Juan, San Mateo, and Montalban (from the old province of Manila), and Angono, Baras, Binangonan, Cainta, Antipolo, Cardona, Jalajala, Morong, Pililla, Tanay, Taytay and Teresa (from the Morong Politico-Military district).
    </ui-text>
</block-text-no-split>

<block-text-no-split [headingHr]="true">
    <ui-heading [headingSize]="HeadingSize.HEADING_FOUR">The Dismemberment of Rizal</ui-heading> 
    <ui-text>
        On November 7, 1975, by virtue of Presidential Decree No. 824, the 12 most progressive towns of Rizal namely: Las Piñas, Muntinlupa, Taguig, Parañaque, Pateros, Makati, Mandaluyong, San Juan, Malabon, Navotas, Pasig and Marikina were incorporated in the newly formed Metro Manila Area. It also included the town of Valenzuela (formerly of Bulacan), and the four cities of Manila, Quezon, Caloocan and Pasay.
        <br/>
        <br/>
        Thus, Rizal Province was left with just 14 towns -- San Mateo, Montalban, Cainta, Taytay, Angono, Antipolo, Binangonan, Teresa, Morong, Cardona, Tanay, Pililla, Baras, and Jalajala.
        <br/>
        <br/>
        Through sustained progressive development since its creation in 1901, Rizal, owing its proximity to Manila, had become the "premier province" of the Philippines despite its dismemberment in 1975 during the Marcos regime.
        <br/>
        <br/>
        This development has made Rizal Province the country's nucleus of burgeoning economic centers, hub of progressive cities and urbanized communities, and the "cradle of great Filipino leaders".
    </ui-text>
</block-text-no-split>

<ui-container [paddingBottom]="PaddingSize.LARGE"></ui-container>