
<block-text-no-split [headingHr]="true">
<ui-heading> Rizal's Past Governors </ui-heading>
<ui-text> Rizal, in its long history, has had its fair share of governors. Here are a list of the most recent ones.</ui-text>
</block-text-no-split>

<ui-block>
    <ui-columns>
        <ui-container *ngFor="let governor of governor_data">
            <element-officials-card-small [imgSrc]="governor.img" [cardText]="governor.name" [optionalCardSubText]="governor.service_length">
            </element-officials-card-small>
        </ui-container>
    </ui-columns>
</ui-block>

<block-text-no-split [headingHr]="true">
    <ui-text> *appointed as Interim Governors during the transition period of Aquino's Government.</ui-text>
</block-text-no-split>
