<ui-container [paddingTop]="PaddingSize.XLARGE">

</ui-container>

<ui-block>
    <ui-image [imageSrc]="'./assets/rect_horiz.jpg'">
    </ui-image>
</ui-block>


<block-text [splitType]="SplitColumnsPosition.RIGHT">
    <ui-heading [headingSize]="HeadingSize.HEADING_THREE">
        ECO-FRIENDLY SOLAR STREETLIGHTS
    </ui-heading>
    <ui-text>
        Installed at fully-functional na an gating mga Eco-Friendly Solar Streetlights sa bahagi ng Brgy. San Guillermo, Morong. Kaakibat ito ng YES to Green Program ng ating lalawigan. Ayon kay Rizal Gob. Nina Ricci Ynares, makakaasa ang mga mamamayan ng lalawigan na magpapatuloy ang proyektong ito hanggang sa buong Rizal ay magkaroon.
        <br/>
        <br/>
        #RizalInfraProjects
    </ui-text>
  </block-text>