form{
  width:50%;
  margin:auto;
  border:.1em solid gray;
  padding: 3em 2em 2em 2em;
  border-radius: 2em;
  box-shadow: 0 0 10px #719ECE;
  font-family: 'Inter', sans-serif;
}

.form-title{
  font-family: 'Inter', sans-serif;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
  font-size: 20px;
}

.form-container{
  padding-bottom: 2em;
}

.label-input{
  padding-bottom: 0.5em;
}

label{
  width:40%;
  margin:auto;
}

input{
  width:60%;
  float:right;
  border-radius: .5em;
  border-width: 0.15em;
  margin: .3em 0em .1em 0em;
}

button{
  margin: auto;
}
