<ui-container [paddingTop]="PaddingSize.XLARGE">

</ui-container>

<ui-block>
    <ui-image [imageSrc]="'./assets/articles/article_farm.jpg'">

    </ui-image>
</ui-block>

<block-text [splitType]="SplitColumnsPosition.RIGHT"> 
    <ui-heading [headingSize]="HeadingSize.HEADING_THREE">
        FARM-TO-MARKET ROAD PROJECT INILUNSAD
      </ui-heading>
    <ui-text>
        Pinasinayaan ni Rizal Gob. Nina Ricci Ynares ang bagong tapos na Farm-to-Market Road Project sa Brgy. Cuyambay sa Tanay, Rizal. Dahil dito ay mas madali nang maihahatid n gating mga magsasaka ang kanilang produce sa palengke at magiging mas accessible (at mas mura) na ito sa mga residente ng bayan. Dahil maayos na ang kalsada ay madali na nating mararating ang lugar na wala nang lubak at hindi na rin maputik tuwing umuulan. Mula sa inauguration, binisita rin ni Gob. Ynares ang first ever rice paddy art sa lalawigan na ipinakita naman ng RARES o Rizal Agricultural Research and Experiment Station.
        <br/>
        <br/>
        #RizalInfraProjects
    </ui-text>
</block-text>